services:
  # 1. Base de données PostgreSQL
  postgres:
    image: postgres:16-alpine
    container_name: esg_postgres
    environment:
      POSTGRES_USER: esg_user
      POSTGRES_PASSWORD: esg_password
      POSTGRES_DB: esg_db
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U esg_user -d esg_db"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - esg_network

  # 2. Conteneur Python (Votre Code)
  app:
    container_name: esg_app
    build:
      context: .          # Le contexte est la racine du projet (où se trouve le code)
      dockerfile: Dockerfile # Dockerfile est à la racine
    # ENLÈVEMENT DE LA LIGNE env_file (la gestion est faite par settings.py)
    volumes:
      # Les chemins sont relatifs à la racine du projet
      - ./src:/app/src
      - ./config:/app/config
      - ./scripts:/app/scripts
      - ./tests:/app/tests
      - ./.env:/app/.env  # Le .env est aussi à la racine
    depends_on:
      postgres:
        condition: service_healthy
    command: tail -f /dev/null
    networks:
      - esg_network

volumes:
  pg_data:

networks:
  esg_network: